<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh99.activeservice.post.mapper.PostMapper">
    <resultMap id="PostDTO" type="com.hh99.activeservice.post.dto.PostDTO">
        <id property="postSeq" column="post_seq"/>
        <result property="postCreatorSeq" column="post_creator_seq"/>
        <result property="postContent" column="post_content"/>
        <result property="postCreationDate" column="post_creation_date"/>
    </resultMap>
    <insert id="insertPost" parameterType="com.hh99.activeservice.post.dto.PostDTO">
        INSERT INTO POST (post_creator_seq,post_content) VALUES (#{postCreatorSeq},#{postContent})
    </insert>
    <select id="selectPostByPostDTO" parameterType="int" resultMap="PostDTO">
        SELECT * FROM POST WHERE post_seq = #{postSeq}
    </select>
    <update id="updatePost" parameterType="com.hh99.activeservice.post.dto.PostDTO">
        UPDATE POST SET post_content = #{postContent} WHERE post_seq = #{postSeq} AND post_creator_seq = #{postCreatorSeq}
    </update>
    <delete id="deletePost" parameterType="com.hh99.activeservice.post.dto.PostDTO">
        DELETE FROM POST WHERE post_seq = #{postSeq} AND post_creator_seq = #{postCreatorSeq}
    </delete>

</mapper>