<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laybysystem.domain.user.mapper.UserMapper">
    <select id="selectUserIdByUser" parameterType="com.laybysystem.domain.user.dto.UserDTO" resultType="String">
        SELECT userId
        FROM USER
        WHERE userName = #{userName} AND userBirth = #{userBirth}
    </select>
    <insert id="insertUser" parameterType="com.laybysystem.domain.user.dto.UserDTO">
        INSERT INTO USER (userName, userBirth, userId, userPw, userImg, userComment, userType)
        VALUES (#{userName}, #{userBirth}, #{userId}, #{userPw}, #{userImg}, #{userComment}, #{userType})
    </insert>
    <select id="selectUserBylogin" parameterType="com.laybysystem.domain.user.dto.UserDTO" resultType="com.laybysystem.domain.user.dto.UserDTO">
        SELECT *
        FROM USER
        WHERE userId = #{userId}
    </select>
    <update id="updatePasswordByUser" parameterType="com.laybysystem.domain.user.dto.UserDTO">
        UPDATE USER SET userPw = #{userPw} WHERE userName = #{userName} AND userId = #{userId}
    </update>
    <update id="updateCommentByUser" parameterType="com.laybysystem.domain.user.dto.UserDTO">
        UPDATE USER SET userComment  = #{userComment} WHERE userId = #{userId}
    </update>
    <delete id="deleteUserByUser" parameterType="com.laybysystem.domain.user.dto.UserDTO">
        DELETE FROM USER WHERE userId = #{userId}
    </delete>
</mapper>